*{
    background-color: aqua;
    background-image: url();
}
.topnav {
    margin-top: 15px;
   background-color: aqua;  
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    border-radius: 13px;
    float: right;
    display: block;
    color: #f0f0f0;
    text-align: center;
    margin-top: 7px;
    background-color: #000000;
    padding: 19px 34px; 
    text-decoration: none;
    font-size: 17px; 
    font-weight:bolder;
    /* margin-right: 12px; */
  }
 
  .nav{
    margin-right: 123px;
  }
  .active{
    margin-right: 153px;
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: rgb(71, 241, 128);
    color: rgb(255, 255, 255);
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    /* background-color: #04AA6D; */
    color: rgb(255, 255, 255);
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
 
  .logo1 img{
      margin-left: 34px;
      border-radius: 50px;
      height: 70px;
      width: 140px;  
  }

  .homesection{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      align-items: center;
    justify-content: center;
       
  }
  .homesection .logo{
      height: 300px; 
      width: 430px;  
      margin-top: 170px; 
      margin-left: 233px; 
      background: rgb(17, 22, 12);
  }
  .homesection .game-o-genix{
    height: 320px;
    width: 460px;
    /* margin-left: 23px; */
    margin-top: 170px;    
    background: rgb(17, 22, 12);
}
.logo img{
    width: 100%;
    height: 100%;
}
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
   
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  .d1 {
    display: flex;  
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .cardpar{
       
      display: flex;
      flex-direction: row;
     justify-content: space-around;
  }
  .cardpar .card{
      margin-top: 150px;
      height: 410px;
       width: 330px;
    }
    .card-body{
      background: rgb(16, 238, 238);

  }
  .card-text{
    background: green;
  }