<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="a.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="icon" type="image/png" href="./eduford_img/logo.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="./footer.css" />
    <link rel="stylesheet" href="./web.css" />
    <link
      rel="stylesheet"  
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />
    <link rel="stylesheet" href="assets/css/style.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&family=Ubuntu:ital,wght@1,300&display=swap"
      rel="stylesheet"
    />
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
              
    <title>Codding Website</title> 
  </head>    
  <body>
    <section class="header" style=" background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(logodes.jpg);">
      <nav>   
        <a href=""><img src="2021-09-05 (2).png" alt="" /></a>
        <i class="fa fa-ellipsis-v" onclick="showmenu()"></i>
        <div class="navlink">
          <i class="fas fa-window-close" onclick="hidemenu()">Close</i>
          <ul>
            <li><a href="a.html">Home</a></li>
            <li><a href="about.html">About Us</a></li>
            <li><a href="coddingconstest.html">Codding Contests</a></li>
            <li><a href="game.html">Play Game</a></li>
            <li><a href="contact.html">Contact</a></li>  
            <li><a href="login.html">Login </a></li>
          </ul> 
        </div>
      </nav>
      <div class="body">
        <div class="typewriter">
          <h1>Know all about Coding</h1>
        </div>  

        <div class="cell">  Any fool can write code that a computer can understand. Good
          programmers write code that humans can understand.</div>

        <div class="content">
          <div class="text"></div>
        </div>
      </div>
    </section>

    <!-- languages -->
    <section class="lang">
      <h1>Popular languages</h1>
      <p>
        According to Stack Overflow's 2020 Developer Survey, JavaScript currently stands as the most commonly-used language in the world (69.7%), followed by HTML/CSS (62.4%), SQL (56.9%), Python (41.6%) and Java (38.4%). It is also the most sought-out programming language by hiring managers in the Americas (PDF, 2.4 MB).
      </p>
    </section>
    <div class="row1" style="background-image: url(cardimage.jfif)">
      <div class="course">  
        <div class="tem">C Language</div> 
        <p>
          C is an imperative procedural language. It was designed to be compiled
          to provide low-level access to memory and language constructs that map
          efficiently to machine instructions, all with...
        </p>  
        <button>
          <a href="https://en.wikipedia.org/wiki/C_(programming_language)">
            <h6>Show More</h6></a
          >
        </button>
      </div>
      <div class="course">
        <div class="tem">C++ Language</div>
        <p>
          C++ was designed with an orientation toward system programming and
          embedded, resource-constrained software and large systems, with
          performance, efficiency, and ...
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/C%2B%2B">
            <h6>Show More</h6></a
          >                   
        </button>
      </div>
      <div class="course">  
        <div class="tem">Python</div>
        <p>
          Python is an interpreted high-level general-purpose programming
          language. Its design philosophy emphasizes code readability with its
          use of significant indentation. Its Language..
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">
            <h6>Show More</h6></a
          >
        </button>
      </div>
      <div class="course">
        <div class="tem">JAVASCRIPT</div>
        <p>
          JavaScript often abbreviated as JS, is a programming language that
          conforms to the ECMAScript specification.[10] JavaScript is
          high-level, often just-in-time compiled...
        </p>
        <button>
          <a href="https://en.wikipedia.org/wiki/JavaScript">
            <h6>Show More</h6></a
          >
        </button>
      </div>
    </div>
    <section class="lang">
      <h1>Explore Codding Platform</h1>
      <p>
       Explore more coding Platform and be a good programmer with great problem solving skills.here is some platform through which you can improve your problem solving skills.
      </p>
    </section>
    <div class="platimg">
      <a href="https://codeforces.com/"
        ><img src="codeforces1.jpg" alt=""
      /></a>
      <a href="https://www.codechef.com/"
        ><img src="codechef.png" alt=""
      /></a>
      <a href="https://www.geeksforgeeks.org/" class="gfg"
        ><img src="gfg.png" alt=""
      /></a>
      <a href="https://leetcode.com/"
        ><img src="leetcode.png" alt=""
      /></a>
    </div>
    <!-- foorter -->
    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="https://www.webdesign-inspiration.com/">Web design</a></li>
                <li><a href="https://www.soas.ac.uk/cedep-demos/000_P501_USD_K3736-Demo/unit1/page_12.htm">Development</a></li>
                <li><a href="https://dashboard.heroku.com/">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item"> 
              <h3>About</h3>  
              <ul>   
                <li><a href="./web.html">Website</a></li>
                <li><a href="./about.css">About Us</a></li>
                <li><a href="./coddingconstest.html">Contests</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Codeverse</h3>
              <p>
                 this website about coding related information also includs contestd of codeforces and codechef.
              </p>
            </div>
            <div class="col item social">
              <a href="https://www.facebook.com/tejas.tank.94064"
                ><i class="icon ion-social-facebook fa-faceboo"></i></a
              ><a href="https://twitter.com/TankTejas3"
                ><i class="icon ion-social-twitter fa-twitte"></i></a
              ><a href="https://www.linkedin.com/in/tejas-tank-122648204/"
                ><i class="icon ion-social-linkedin fa-linkedi"></i></a
              ><a href="https://www.instagram.com/tejas__tank_235/"
                ><i class="icon ion-social-instagram fa-instagra"></i
              ></a>
             </div>
      </footer>
    </div>               
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
  <script src="web.js"></script>
</html>
