body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to right,
    rgba(118, 241, 61, 0.418),
    rgba(233, 99, 238, 0.438),
    rgb(236, 92, 92, 0.413),
    rgba(236, 238, 96, 0.429),
    rgba(148, 191, 248, 0.414)
  );

  box-sizing: border-box;
  flex-direction: column;
}
.score-container {
  font-size: 23px;
  font-style: italic;
  font-weight: 800;
}
.flex {
  display: flex;

  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
.button {
  margin: 122px;
  padding: 12px;
}
.score-container {
  display: none;
  margin-top: 56px !important;
}
.abc {
  margin-bottom: 56px;
}
.button button {
  height: 80px;
  width: 220px;
  border: 3px solid black;
  border-radius: 23px;
  font-size: 35px;
  font-weight: 600;
  background-color: rgb(83, 94, 241);
  font-family: "Ubuntu", sans-serif;
  color: rgba(49, 36, 36, 0.911);
}
@keyframes anim {
  0% {
    box-shadow: 0px 0px 0px 0px;
  }
  100% {
    box-shadow: 12px 10px 17px 10px;
  }
}
.button button:hover {
  cursor: pointer;
  animation: anim 3s alternate linear;
}
.score-container {
  margin-top: 30px;
}
.instruction {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 23px;
  height: 250px;
  width: 700px;
  background-color: yellow;
  border-radius: 34px;
  box-shadow: 15px 15px 10px 2px;
}

.instruction div {
  margin-top: 16px;
  margin-left: 15px;
  font-size: 24px;
  color: black;
  font-size: 23px;
  font-weight: 600;
  font-family: "Ubuntu", sans-serif;
}
.instruction .heading p span {
  text-decoration-line: underline;
  text-decoration-style: double;
}

.instruction div p span {
  font-size: 30px;
  font-weight: 700;
  color: black;
}

@media (max-width: 680px) {
  .instruction {
    width: 500px;
    height: 300px;
  }
}
@media (max-width: 493px) {
  .instruction {
    width: 350px;
    height: 400px;
  }
}
@media (max-width: 400px) {
  .instruction {
    width: 300px;
    height: 500px;
  }  
} 

@media (max-width: 390px) {
  .instruction {
    width: 240px;
    height: 600px;
  }
}
